[submodule "packages/oneui-workout"]
	path = packages/oneui-workout
	url = https://github.com/g97iulio1609/oneui-workout.git
[submodule "packages/oneui-core"]
	path = packages/oneui-core
	url = https://github.com/g97iulio1609/oneui-core.git
[submodule "packages/oneui-nutrition"]
	path = packages/oneui-nutrition
	url = https://github.com/g97iulio1609/oneui-nutrition.git
[submodule "packages/oneui-admin"]
	path = packages/oneui-admin
	url = https://github.com/g97iulio1609/oneui-admin.git
[submodule "packages/oneui-affiliates"]
	path = packages/oneui-affiliates
	url = https://github.com/g97iulio1609/oneui-affiliates.git
[submodule "packages/oneui-agenda"]
	path = packages/oneui-agenda
	url = https://github.com/g97iulio1609/oneui-agenda.git
[submodule "packages/oneui-ai"]
	path = packages/oneui-ai
	url = https://github.com/g97iulio1609/oneui-ai.git
[submodule "packages/oneui-analytics"]
	path = packages/oneui-analytics
	url = https://github.com/g97iulio1609/oneui-analytics.git
[submodule "packages/oneui-auth"]
	path = packages/oneui-auth
	url = https://github.com/g97iulio1609/oneui-auth.git
[submodule "packages/oneui-chat"]
	path = packages/oneui-chat
	url = https://github.com/g97iulio1609/oneui-chat.git
[submodule "packages/oneui-coach"]
	path = packages/oneui-coach
	url = https://github.com/g97iulio1609/oneui-coach.git
[submodule "packages/oneui-copilot"]
	path = packages/oneui-copilot
	url = https://github.com/g97iulio1609/oneui-copilot.git
[submodule "packages/oneui-credits"]
	path = packages/oneui-credits
	url = https://github.com/g97iulio1609/oneui-credits.git
[submodule "packages/oneui-features"]
	path = packages/oneui-features
	url = https://github.com/g97iulio1609/oneui-features.git
[submodule "packages/oneui-flight"]
	path = packages/oneui-flight
	url = https://github.com/g97iulio1609/oneui-flight.git
[submodule "packages/oneui-layout"]
	path = packages/oneui-layout
	url = https://github.com/g97iulio1609/oneui-layout.git
[submodule "packages/oneui-marketplace"]
	path = packages/oneui-marketplace
	url = https://github.com/g97iulio1609/oneui-marketplace.git
[submodule "packages/oneui-messages"]
	path = packages/oneui-messages
	url = https://github.com/g97iulio1609/oneui-messages.git
[submodule "packages/oneui-pricing"]
	path = packages/oneui-pricing
	url = https://github.com/g97iulio1609/oneui-pricing.git
[submodule "packages/oneui-profile"]
	path = packages/oneui-profile
	url = https://github.com/g97iulio1609/oneui-profile.git
[submodule "packages/oneui-user"]
	path = packages/oneui-user
	url = https://github.com/g97iulio1609/oneui-user.git
